*{
    font-family: Marker Felt, fantasy;
}
body{
    background-color: rgb(34, 34, 34);
    background-size: cover;
}
h1{
    font-size: 100px;
    margin-top: 280px;
    color: rgb(255, 95, 95);
}
p{
    font-size: 25px;
    margin-top: 70px;
    color: white;
}
.credits{
    font-size: 12px;
    margin-top: 220px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
button{
    width: 180px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 12px 0;
    background: #fff;
    background-color: rgb(255, 95, 95);
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
a{
    text-decoration: none;
    list-style: none;
    color: white;
}
